.about {
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;

    img {
        width: 25vw;
        height: 64vh;
        border-radius: 0.5em;
    }

    &__description {
        width: 40%;
    }
}